@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');


*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #110001;
    height: 100vh;
    width: 100%;
}

.fondotitulo{
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.titulo{
    color: #fac22a;
    font-family: 'Alex Brush', cursive;
    text-align: center;
}

.subtitulo{
    color: #ffffff;
    text-align: center;
}

.bajar{
    color: #fac22a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.subtituloimagen{
    color: #fac22a;
    font-style: italic;
}


.textoimagen{
    color: #fcfcfcce;
}

.textoimagen a{
    color: #110001;
    font-size: 50px;
    border: 5px solid;
    background-color: #fac22a;
    border-radius: 15%;
    padding: 8px 10px;
}

.textocontacto{
    color: #fcfcfcce;
    font-size: 20px;
}

.colorfondo{
    height: 80vh;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 0 auto;
}

.galeriafondo{
    height: 80%;
    width: 100%;
    text-align: center;
}

ul.navbar1{
    list-style: none;
    font-size: 0;
    background-color: #fac22ac0;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar{
    display: inline-block;
    width: 20%;
    font-size: 55px;
    color: #141212fa;
    text-align: center;
    text-decoration: none;
}

a{ 
    text-decoration: none;
    color: #141212fa;  
}

a:hover{ 
    color: #faf1a4ce;  
}

.galeria{
    height: 250px;
    width: 250px;
    border: 10px;
    border-style: groove;
    border-color: #fac22a;
    margin: 10px;
}

.galeria:hover{
    transform: scale(1.05);
    transition: all 0.5s;
    filter: sepia(100%);
}

.posicionamiento{
    font-size: 25px;
}

.letras{
    color: white;
    font-size: 50px;
}

.galeriatitulo{
    color: #faf1a4ce;
    text-align: center;
    font-size: 100px;
    font-style: italic;
}

.promostitulo{
    color: #ffffff;
    text-align: center;
    font-size: 100px;
    font-style: italic;
}

footer{
    position: relative;
    background-color: #fac22a;
    text-align: center;
}

footer i{
    color: black;
}

p.copyright{
    position: absolute;
    color: black;
}

.subir{
    height: 40px;
    width: 40px;
    background-color: #fac22a;
    border: 5px solid #141212fa;
    color: #141212fa;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px #333;
    font-size: 30px;
}

.collage{
    position: relative;
}

.imgc1{
    background-image: url(imagenes/col1.jpg);
    background-size: cover;
    background-position: center;
}

.imgc2{
    background-image: url(imagenes/col2.jpg);
    background-size: cover;
    background-position: center;
}

.imgc3{
    background-image: url(imagenes/col3.jpg);
    background-size: cover;
    background-position: center;
}

.imgc4{
    background-image: url(imagenes/col4.jpg);
    background-size: cover;
    background-position: center;
}

.imgc5{
    background-image: url(imagenes/col5.jpg);
    background-size: cover;
    background-position: center;
}

.imgc6{
    background-image: url(imagenes/col6.jpg);
    background-size: cover;
    background-position: center;
}

.imgc7{
    background-image: url(imagenes/col7.jpg);
    background-size: cover;
    background-position: center;
}

.imgc8{
    background-image: url(imagenes/col8.jpg);
    background-size: cover;
    background-position: center;
}




@media only screen and (min-width:320px){

        .fondotitulo{
            height: 820px;
            width: 100%;
        }
        
        .titulo{
            font-size: 90px;
        }
        
        .subtitulo{
            font-size: 40px;
        }
        
        .bajar{
            font-size: 80px;
        } 
        
        ul.navbar1{
            font-size: 0;
            width: 100%;
            height: 45px;
            top: 0;
            z-index: 1;
        }
        
        .navbar{
            width: 20%;
            font-size: 35px;
        }

        .subtituloimagen{
            font-size: 40px;
            border: 10px;
        }
        
        
        .textoimagen{
            font-size: 20px;
            margin: 10px;
        }
        
        .textoimagen a{
            font-size: 10px;
            border: 5px solid;
            border-radius: 15%;
            padding: 8px 10px;
        }

        .imagen1{
            height: 200px;
            width: 300px;
        }
        
        .imagen2{
            height: 200px;
            width: 300px;
        }
    
        footer{
            position: relative;
            height: 70px;
            width: 100%;
            text-align: center;
        }
        
        footer i{
            font-size: 25px;
            letter-spacing: 8px;
            margin-top: 3px;
        }
        
        p.copyright{
            position: absolute;
            width: 100%;
            line-height: 50px;
            font-size:20px;
            bottom:0;
        }

        .collage{
            height: 200px;
            width: 100%;
            display: grid;
        }

        .galeriatitulo{
            font-size: 60px;
        }

        .posicionamiento{
            font-size: 25px;
        }

        .imgc1{
        grid-column: 1/2;
        grid-row: 1/3;
        }
    
        .imgc2{
        grid-column: 2/3;
        grid-row: 1/2;
        }
    
        .imgc3{
        grid-column: 3/5;
        grid-row: 1/2;
        }
    
        .imgc4{
        grid-column: 2/3;
        grid-row: 2/4;
        }
    
        .imgc5{
        grid-column: 3/4;
        grid-row: 2/3;
        }
    
        .imgc6{
        grid-column: 4/5;
        grid-row: 2/3;
        }
    
        .imgc7{
        grid-column: 1/2;
        grid-row: 3/4;
        }
    
        .imgc8{
        grid-column: 3/5;
        grid-row: 3/4;
        }

        .subir{
            height: 40px;
            width: 40px;
            border: 5px solid #141212fa;
            bottom: 10px;
            right: 10px;
            line-height: 15px;
            border-radius: 50%;
            box-shadow: 0 0 2px #333;
            font-size: 30px;
        }
}

@media only screen and (min-width:640px){

    body{
        height: 100vh;
        width: 100%;
    }

    .fondotitulo{
        height: 820px;
        width: 100%;
    }
    
    .titulo{
        font-size: 100px;
    }
    
    .subtitulo{
        font-size: 60px;
    }
    
    .bajar{
        font-size: 80px;
    } 
    
    .colorfondo{
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }

    .galeria{
        height: 250px;
        width: 250px;
        border: 10px;
        border-style: groove;
        border-color: #fac22a;
        margin: 10px;
    }

    .galeriatitulo{
        font-size: 80px;
    }

    .promostitulo{
        font-size: 80px;
    }

    ul.navbar1{
        font-size: 0;
        width: 100%;
        height: 40px;
        top: 0;
        z-index: 1;
    }
    
    .navbar{
        width: 20%;
        font-size: 29px;
    }

    .subtituloimagen{
        font-size: 80px;
        border: 10px;
    }
    
    .textoimagen{
        font-size: 30px;
    }
    
    .textoimagen a{
        font-size: 30px;
        border: 5px solid;
        border-radius: 15%;
        padding: 8px 10px;
    }

    .imagen1{
        height: 350px;
        width: 500px;
    }
    
    .imagen2{
        height: 350px;
        width: 500px;
    }
    
    footer{
        position: relative;
        height: 70px;
        width: 100%;
        text-align: center;
    }
    
    footer i{
        font-size: 25px;
        letter-spacing: 8px;
        margin-top: 3px;
    }
    
    p.copyright{
        position: absolute;
        width: 100%;
        line-height: 50px;
        font-size:30px;
        bottom:0;
    }

    .posicionamiento{
        font-size: 25px;
    }

    .collage{
        height: 400px;
        width: 100%;
        display: grid;
    }

    .imgc1{
    grid-column: 1/2;
    grid-row: 1/3;
    }

    .imgc2{
    grid-column: 2/3;
    grid-row: 1/2;
    }

    .imgc3{
    grid-column: 3/5;
    grid-row: 1/2;
    }

    .imgc4{
    grid-column: 2/3;
    grid-row: 2/4;
    }

    .imgc5{
    grid-column: 3/4;
    grid-row: 2/3;
    }

    .imgc6{
    grid-column: 4/5;
    grid-row: 2/3;
    }

    .imgc7{
    grid-column: 1/2;
    grid-row: 3/4;
    }

    .imgc8{
    grid-column: 3/5;
    grid-row: 3/4;
    }
}

@media only screen and (min-width:768px){

    .fondotitulo{
        height: 100vh;
        width: 100%;
    }
    
    .titulo{
        font-size: 120px;
    }
    
    .subtitulo{
        font-size: 70px;
    }
    
    .bajar{
        font-size: 90px;
    } 
    
    ul.navbar1{
        font-size: 0;
        width: 100%;
        height: 42px;
        top: 0;
        z-index: 1;
    }
    
    .navbar{
        width: 20%;
        font-size: 32px;
    }

    .galeria{
        height: 250px;
        width: 250px;
        border: 10px;
        border-style: groove;
        border-color: #fac22a;
        margin: 10px;
    }

    .galeriatitulo{
        font-size: 100px;
    }

    .promostitulo{
        font-size: 100px;
    }

    .subtituloimagen{
        font-size: 90px;
    }
    
    .textoimagen{
        font-size: 40px;
    }
    
    .textoimagen a{
        font-size: 50px;
        border: 5px solid;
        border-radius: 15%;
        padding: 8px 10px;
    }

    .colorfondo{
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }

    .imagen1{
        height: 450px;
        width: 600px;
    }
    
    .imagen2{
        height: 450px;
        width: 600px;
    }

    footer{
        height: 120px;
        width: 100%;
    }
    
    footer i{
        margin-top: 7px;
        font-size: 40px;
        letter-spacing: 10px;
    }
    
    p.copyright{
        position: absolute;
        width: 100%;
        line-height: 90px;
        font-size:40px;
        bottom:0;
    }

    .posicionamiento{
        font-size: 25px;
    }

    .collage{
        min-height: 400px;
        width: 100%;
        display: grid;
    }

    .imgc1{
    grid-column: 1/2;
    grid-row: 1/3;
    }

    .imgc2{
    grid-column: 2/3;
    grid-row: 1/2;
    }

    .imgc3{
    grid-column: 3/5;
    grid-row: 1/2;
    }

    .imgc4{
    grid-column: 2/3;
    grid-row: 2/4;
    }

    .imgc5{
    grid-column: 3/4;
    grid-row: 2/3;
    }

    .imgc6{
    grid-column: 4/5;
    grid-row: 2/3;
    }

    .imgc7{
    grid-column: 1/2;
    grid-row: 3/4;
    }

    .imgc8{
    grid-column: 3/5;
    grid-row: 3/4;
    }
}

@media only screen and (min-width:1080px){
    .fondotitulo{
        width: 100%;
        height: 100vh;
    }
    
    .titulo{
        font-size: 140px;
    }
    
    .subtitulo{
        font-size: 100px;
    }
    
    .bajar{
        font-size: 100px;
    } 
    
    ul.navbar1{
        font-size: 0;
        width: 100%;
        height: 50px;
        top: 0;
        z-index: 1;
    }
    
    .navbar{
        width: 20%;
        font-size: 40px;
    }

    .subtituloimagen{
        font-size: 65px;
    }
    
    
    .textoimagen{
        font-size: 28px;
        margin: 50px;
    }

    .galeria{
        height: 250px;
        width: 250px;
        border: 10px;
        border-style: groove;
        border-color: #fac22a;
        margin: 10px;
    }

    .galeriatitulo{
        font-size: 120px;
    }

    .textoimagen a{
        font-size: 30px;
        border: 5px solid;
        border-radius: 15%;
        padding: 8px 10px;
    }
    
    .textocontacto{
        font-size: 20px;
    }
    
    .colorfondo{
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    .galeriafondo{
        height: 80%;
        width: 100%;
    }
    
    .imagen1{
        height: 450px;
        width: 700px;
        float: left;
    }
    
    .imagen2{
        height: 450px;
        width: 700px;
        float: right;
    }
    
    .ubicacion{
        float: right;
    }
    
    .galeria{
        height: 250px;
        width: 250px;
        border: 10px;
        margin: 10px;
    }
    
    .posicionamiento{
        font-size: 25px;
    }
    
    .letras{
        font-size: 50px;
    }
    
    .galeriatitulo{
        font-size: 100px;
    }

    .promostitulo{
        font-size: 100px;
    }
    
    footer{
        height: 120px;
        width: 100%;
    }
    
    footer i{
        margin-top: 5px;
        font-size: 40px;
        letter-spacing: 15px;
    }
    
    p.copyright{
        width: 100%;
        line-height: 90px;
        font-size:50px;
        bottom:0;
    }
    
    .subir{
        height: 40px;
        width: 40px;
        border: 5px solid #141212fa;
        bottom: 20px;
        right: 20px;
        line-height: 40px;
        border-radius: 50%;
        box-shadow: 0 0 10px #333;
        font-size: 30px;
    }

    .collage{
        min-height: 660px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .imgc1{
    grid-column: 1/2;
    grid-row: 1/3;
    }

    .imgc2{
    grid-column: 2/3;
    grid-row: 1/2;
    }

    .imgc3{
    grid-column: 3/5;
    grid-row: 1/2;
    }

    .imgc4{
    grid-column: 2/3;
    grid-row: 2/4;
    }

    .imgc5{
    grid-column: 3/4;
    grid-row: 2/3;
    }

    .imgc6{
    grid-column: 4/5;
    grid-row: 2/3;
    }

    .imgc7{
    grid-column: 1/2;
    grid-row: 3/4;
    }

    .imgc8{
    grid-column: 3/5;
    grid-row: 3/4;
    }
}

@media only screen and (min-width:1440px){
    .fondotitulo{
        width: 100%;
        height: 100vh;
    }
    
    .titulo{
        font-size: 130px;
    }
    
    .subtitulo{
        font-size: 100px;
    }
    
    .bajar{
        font-size: 100px;
    } 
    
    ul.navbar1{
        font-size: 0;
        width: 100%;
        height: 60px;
        top: 0;
        z-index: 1;
    }
    
    .navbar{
        width: 20%;
        font-size: 50px;
    }

    .subtituloimagen{
        font-size: 75px;
    }

    .textoimagen{
        font-size: 32px;
        margin: 50px;
    }
    
    .textoimagen a{
        font-size: 25px;
        border: 5px solid;
        border-radius: 15%;
        padding: 6px 8px;
    }
    
    .textocontacto{
        font-size: 20px;
    }
    
    .colorfondo{
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    .galeria{
        height: 250px;
        width: 250px;
        border: 10px;
        border-style: groove;
        border-color: #fac22a;
        margin: 10px;
    }

    .galeriafondo{
        height: 80%;
        width: 100%;
    }
    
    .imagen1{
        height: 450px;
        width: 700px;
        float: left;
    }
    
    .imagen2{
        height: 450px;
        width: 700px;
        float: right;
    }
    
    .ubicacion{
        float: right;
    }
    

    .galeria{
        height: 250px;
        width: 250px;
        border: 10px;
        margin: 10px;
    }
    
    .posicionamiento{
        font-size: 20px;
    }
    
    .letras{
        font-size: 50px;
    }
    
    .galeriatitulo{
        font-size: 100px;
    }

    .promostitulo{
        font-size: 100px;
    }
    
    footer{
        height: 120px;
        width: 100%;
    }
    
    footer i{
        margin-top: 5px;
        font-size: 40px;
        letter-spacing: 15px;
    }
    
    p.copyright{
        width: 100%;
        line-height: 90px;
        font-size:50px;
        bottom:0;
    }
    
    .subir{
        height: 40px;
        width: 40px;
        border: 5px solid #141212fa;
        bottom: 20px;
        right: 20px;
        line-height: 40px;
        border-radius: 50%;
        box-shadow: 0 0 10px #333;
        font-size: 30px;
    }

    .collage{
        min-height: 660px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .imgc1{
    grid-column: 1/2;
    grid-row: 1/3;
    }

    .imgc2{
    grid-column: 2/3;
    grid-row: 1/2;
    }

    .imgc3{
    grid-column: 3/5;
    grid-row: 1/2;
    }

    .imgc4{
    grid-column: 2/3;
    grid-row: 2/4;
    }

    .imgc5{
    grid-column: 3/4;
    grid-row: 2/3;
    }

    .imgc6{
    grid-column: 4/5;
    grid-row: 2/3;
    }

    .imgc7{
    grid-column: 1/2;
    grid-row: 3/4;
    }

    .imgc8{
    grid-column: 3/5;
    grid-row: 3/4;
    }
}

@media only screen and (min-width:1700px){
    .fondotitulo{
        width: 100%;
        height: 100vh;
    }
    
    .titulo{
        font-size: 200px;
    }
    
    .subtitulo{
        font-size: 100px;
    }
    
    .bajar{
        font-size: 100px;
    } 
    
    ul.navbar1{
        font-size: 0;
        width: 100%;
        height: 70px;
        top: 0;
        z-index: 1;
    }
    
    .navbar{
        width: 20%;
        font-size: 35px;
    }

    .subtituloimagen{
        font-size: 100px;
    }
    
    
    .textoimagen{
        font-size: 40px;
        margin: 20px;
    }
    
    .textoimagen a{
        font-size: 35px;
        border: 5px solid;
        border-radius: 15%;
        padding: 3px 8px;
    }
    
    .textocontacto{
        font-size: 20px;
    }
    
    .colorfondo{
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    .galeria{
        height: 250px;
        width: 250px;
        border: 10px;
        border-style: groove;
        border-color: #fac22a;
        margin: 10px;
    }

    .galeriafondo{
        height: 80%;
        width: 100%;
    }
    
    .imagen1{
        height: 450px;
        width: 700px;
        float: left;
    }
    
    .imagen2{
        height: 450px;
        width: 700px;
        float: right;
    }
    
    .ubicacion{
        float: right;
    }
    
    .posicionamiento{
        font-size: 20px;
    }
    
    .letras{
        font-size: 50px;
    }
    
    .galeriatitulo{
        font-size: 100px;
    }

    .promostitulo{
        font-size: 100px;
    }
    
    footer{
        height: 120px;
        width: 100%;
    }
    
    footer i{
        margin-top: 5px;
        font-size: 40px;
        letter-spacing: 15px;
    }
    
    p.copyright{
        width: 100%;
        line-height: 70px;
        font-size:45px;
        bottom:0;
    }
    
    .subir{
        height: 50px;
        width: 50px;
        border: 5px solid #141212fa;
        bottom: 20px;
        right: 20px;
        line-height: 40px;
        border-radius: 50%;
        box-shadow: 0 0 10px #333;
        font-size: 30px;
    }

    .collage{
        min-height: 660px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .imgc1{
    grid-column: 1/2;
    grid-row: 1/3;
    }

    .imgc2{
    grid-column: 2/3;
    grid-row: 1/2;
    }

    .imgc3{
    grid-column: 3/5;
    grid-row: 1/2;
    }

    .imgc4{
    grid-column: 2/3;
    grid-row: 2/4;
    }

    .imgc5{
    grid-column: 3/4;
    grid-row: 2/3;
    }

    .imgc6{
    grid-column: 4/5;
    grid-row: 2/3;
    }

    .imgc7{
    grid-column: 1/2;
    grid-row: 3/4;
    }

    .imgc8{
    grid-column: 3/5;
    grid-row: 3/4;
    }
}










